body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background-color: #9933FF;
}

h1 {
    margin-top: 30px;
    text-align: center;
}


.center {
    text-align: center;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.left {
    text-align: left;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2 {
    background-color: darkgrey; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}  

.button2:hover {

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}  

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input {
   font-family: 'Roboto Condensed', sans-serif; 
}

table {
    color:black;
    background-color: lightgrey;
    margin: auto;
    border-color: darkgrey;
    border-spacing: 10px;
}

th, td {
    padding: 15px;
    
}

a, a:visited, a:hover, a:active {
  color: darkgrey;
}

